.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  position: relative;
  height: 300px;
  width: 600px;
  overflow: hidden;
}

#example-image {
  width: 70vw;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
#example-image.hidden {
  display: none;
}
